#search_text{
    float: right;
    margin-right: 50px;
}

#player_mat{
  height: 425px;
  background-color: rgba(24, 47, 81, .6);
  padding-top: 75px;
  margin-right: 45px;
  margin-left: 45px;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
}

header{
    height: 100px;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    margin-bottom: 100px;
    background-color:rgba(36,41,16, .9) ;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
}

ul{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

li{
  margin-right: 25px; 
}

ul, li{
  list-style: none; 
}

ul li a img{
    text-decoration:none;
    color:#000;
    background:#FFFF;
    display:block;
    height:20em;
    width:15em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border-radius: 15px;
    transition: transform .15s;
  }

  ul li a img:hover,ul li a img:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25) rotate(3deg);
    position:relative;
    z-index:5;
  }

  
  .title_font{
    font-family: 'Uncial Antiqua', cursive;
    padding-top: 15px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 5px;
    background-image: url(/Images/Background-Brown\ Worn.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

 .middle_separator{
    font-family: 'Uncial Antiqua', cursive;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    background-color: rgba(36,41,16,.9);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 45px;
    margin-right: 800px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;3
  }

  #card_deck{
    display: flex; 
    flex-wrap: wrap;
    margin: 25px;
  }

  #deck{
    position: relative;
    padding-bottom: 300px;
  }

  .card {
    display:block;
    width:10em;
    height:15em;
    border-radius:15px;
    box-shadow: 0 0 6px rgba(0,0,0,0.9);
    position:absolute;
    transition:transform 0.5s ease-out;
  }

.card:nth-child(2) {left:20px;}
.card:nth-child(3) {left:40px;}
.card:nth-child(4) {left:60px;}
