html {
    background-image: url(../Images/Background-Brown\ Worn.jpg);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
}

footer a {
    margin-right: 50px;
}